.torna-su {
  position: fixed;
  bottom: 20px; /* Distanza dal basso */
  right: 20px;  /* Distanza da destra */
  z-index: 1000; /* Mantiene l'immagine sopra gli altri contenuti */
  cursor: pointer; /* Cambia il cursore quando si passa sopra */
  width: 50px; /* Imposta una dimensione standard per l'icona */
  height: 50px;
}

.contenitore {
  display: flex;
  justify-content: space-between;
}

article {
  width: 60%;
}

aside {
  width: 35%;
  background-color: #ffeb3b;
  padding: 10px;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: block;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #575757;
}

@media (max-width: 768px) {
  /* Riduzione dimensioni logo e link */
  nav a {
    font-size: 14px; /* Riduci la dimensione del testo dei link */
    padding: 8px 15px; /* Riduci il padding dei link */
  }

  .contenitore {
    flex-direction: column; /* I contenuti si dispongono uno sotto l'altro */
    align-items: center; /* Centra gli elementi */
  }

  article, aside {
    width: 100%; /* Gli elementi occupano tutta la larghezza disponibile */
    margin-bottom: 20px; /* Distanza tra l'articolo e l'aside */
  }

  .torna-su {
    width: 40px; /* Riduce la dimensione del bottone "torna su" su schermi piccoli */
    height: 40px;
  }
}
